body {
  background: url("../assets/code.gif") repeat;
}

main {
  display: grid;

  height: 100vh;
  width: 100vw;

  place-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

main > * {
  grid-area: 1 / 1;
}

#shades {
  aspect-ratio: 1;
  height: min(1200px, 80vmin);
  width: min(1200px, 80vmin);

  position: relative;
}

img#morpheus {
  z-index: 10;
  max-width: 100%;
  max-height: 100%;

  position: absolute;
  inset: 0;
}

.playback-container {
  overflow: clip;
  position: absolute;
}

.playback-container::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.playback-container.left::after {
  background-color: color-mix(in srgb, red 12%, transparent);
}

.playback-container.right::after {
  background-color: color-mix(in srgb, blue 10%, transparent);
}

.playback-container.left {
  width: 42%;
  height: 36%;

  top: 2.9%;
}

.playback-container.right {
  width: 39.5%;
  height: 34%;

  top: 1.1%;
  right: 0;
}

.playback {
  height: 100%;
  /* position: absolute; */
}
